<<<<<<< HEAD
*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media(max-width:720px){
    *{
        scroll-behavior: smooth;
    }
}

a{
    text-decoration: none;
}

/* Jump button */
.back-to-top{
    display: none;
   position: fixed;
   right: 15px;
   bottom: 15px;
   z-index: 9999;
}



.back-to-top i{
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 17px;
    width: 40px;
    height: 40px;
    display: flex;
     border-radius: 4px;
    background-color: #557a95;
    transition: all 0.4s;
}

.back-to-top i:hover{
    background-color: #82aece;
}

a:hover{
    text-decoration: none;
}



/* Mobile Navigation */

.navbar-toggler{
    border: transparent;
}

.fa-bars{
    color: #fff;
}

.fa-times{
    font-size: 20px;
    color: #ffffff;
    background: transparent;
}

.modal-header{
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
    border: transparent;
}

.btn-close{
    color: #ffffff;
}

.modal-body{
     background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
    border: transparent;
}

.modal-link{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Poppins';
}

/* Navigation */
.navbar{
background: transparent;
background: transparent;  
background: transparent; 
padding: 1.3rem;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 3rem; 
    font-weight: bold;
    font-family: 'Merriweather Sans';
    color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width:960px){
    .navbar-brand{
        font-size: 1.5rem;
    }
}

.navbar-brand:hover {
    color: #ffff;
}

.nav-item{
    margin-right: 30px;
    justify-content: space-between;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 15px;
    position: relative;
    left: 40px;
    font-family: 'Poppins';
    font-size: 16px;
    transition: all .5s ease-in-out;
}



.navbar-nav .nav-link:hover {
    color:rgb(29, 29, 230);
     transition: all .5s ease-in-out;
}


/* Hero image */


.hero-image{
    margin-top: -100px;
    background-image:linear-gradient(rgba(76, 71, 76, 0.76),rgba(76, 71, 76, 0.76)),url('img/madalyn-cox-GFPebipy-kU-unsplash\(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
}


.hero__content{
    font-family: 'roboto';
    font-size: 80px;
    font-weight: 700;
    position: relative;
    top: 320px;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center
}

@media(max-width: 575.98px){
    .hero__content{
        font-size: 40px !important;
    }
}

@media (max-width:720px) and (min-width:720px){
    .hero__content{
        font-size: 40px;
        position: relative;
        top: 800px;
    }
}


@media (max-width: 768px) { 
    .hero__content{
        font-size: 80px;
    }
 }

.hero__content-2{
    font-family: 'roboto';
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
    top: 310px;
    display: flex;
    justify-content: center;
    text-align: center
}

@media only screen and (max-width:578px){
    .hero__content-2{
        font-size: 14px;
    }
}

@media (max-width:720px) and (min-width:720px){
    .hero__content-2{
        position: relative;
        top: 800px;
        font-size: 30px;
    }
}

@media (min-width: 767.98px) { 
    .hero__content-2{
        font-size: 25px;
    }
 }

 @media (min-width: 1024px) { 
    .hero__content-2{
        font-size: 16px;
    }
 }



.content__btn{
    background-color: #659dbd;
    width: 10%;
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 600px;
    transition: all .5s ease-in-out;
    border: midnightblue;
}

@media only screen and (max-width:578px){
    .content__btn{
        margin-left: 135px;
        width: 30%;
    }
}

@media only screen and (max-width:320px){
    .content__btn{
        margin-left: 110px;
    }
}

@media (max-width:720px) and (min-width:720px){
    .content__btn{
        width: 20%;
        margin-top: 520px;
        margin-left: 270px;
    }
}

@media(min-width:767.98px){
    .content__btn{
        width: 20%;
        margin-left: 310px;
    }
}

@media(min-width:1024px){
    .content__btn{
        width: 10%;
        margin-left: 600px;
    }
}

@media(min-width:1024px) and (max-width:1024px){
    .content__btn{
        width: 10%;
        margin-left: 470px;
    }
}

@media(min-width:1440px){
    .content__btn{
        width: 10%;
        margin-left: 680px;
    }
}

.content__btn:hover{
    transition: all .5s ease-in-out;
    background-color: midnightblue;
    border: midnightblue;
}


/* About section */
.about__container{
    background: #659dbd;
    height: 20vh;
}

@media only screen and (max-width:578px){
    .about__container{
        height: 50vh;
    }
}

.about__text{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: 'Poppins';
}



@media only screen and(max-width:578px){
    .about__text{
        white-space: nowrap;
    }
}

.about__line{
    margin-top: 30px;
    margin-left: 160px;
    margin-top: 12px;
    width: 30%;
    border-top: 3px solid rgb(255, 255, 255);
}

.about__text-2{
    color: rgb(255, 255, 255);
    margin-top: 25px;
    font-family: 'Poppins';
    font-weight: 400;
}

/* our services */

.ourservices__text{
    color: #141E30;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 50px;
    margin-bottom: 55px;
    font-size: 25px;
    font-family: 'Poppins';
}


.service__container{
    background-color: #557a95;
    padding: 9px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media(max-width:720px){
    .service__container{
        margin-bottom: -20px;

    }
}
.service__img{
    width: 30% !important;
}

.service__heading{
    font-size: 19px;
    font-family: 'poppins';
    text-align: center;
    margin-top: 7px;
    color: #fcfcfc;
}


/* Portfolio Container */
.portfolio__container{
     background:#659dbd;
     margin-top: 35px;
}

.portfolio__text{
    text-align: center;
    font-family: 'poppins';
    color: #fcfcfc;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio__img{
    margin-bottom: 40px;
    transition: all .3s ease-in-out;
}


@media(max-width:720px){
    .portfolio__img{
        margin-bottom: 20px;

    }
})

.portfolio__img:hover{
    cursor: pointer;
    transition: all .3s ease-in-out;
    content: "";
    transform: scale(0.9);
}



/* Contact us */
.contact__text{
    margin-top: 30px;
    font-family: 'Poppins';
    color: #141E30;
    font-size: 23px;
    margin-bottom: 40px;
}

.contact__text-2{
    position: relative;
    top: -30px;
    margin-top: 30px;
    font-family: 'Poppins';
    color: #302b63;
    font-size: 16px;
    margin-bottom: 10px;
}

.contactus__container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* business hour */
.business__hour{
    margin-top: -100px;
    font-size: 23px;
    margin-left: 50px;
    font-family: 'poppins';
}

@media(max-width:720px)
{
    .business__hour{
        margin-top: 50px;
    }
}
.business__container{
    border-radius: 2px;
    background-color:#557a95;
    padding: 12px;
}

@media(max-width:720px)
{
    .business__container{
        margin-bottom: 50px;
    }
}

.business__text{
    color: white;
    font-family: 'poppins';
}


/* meet the team */
.team__heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'poppins';
    color: #0F2027;
}


/* Footer */
.footer__container{
    background-color: #659dbd;
    padding: 20px;
}

.address__heading{
    color: white;
    font-size: 23px;
}

.address, .phone, .email{
    font-size: 15px;
    color: white;
    font-family: 'Poppins';
    margin-top: 19px;
}

.footer__container-2{
    background-color:#557a95; 

}

.fa-facebook-square, .fa-whatsapp, .fa-twitter, .fa-instagram{
    margin-top: 15px;
    color: white;
    font-size: 25px;
    margin-right: 15px;
}

@media(max-width:578px){
    .fa-facebook-square, .fa-whatsapp, .fa-twitter, .fa-instagram{
        margin-bottom: 25px;
    }
}

.footer__link{
     font-size: 15px;
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    margin-top: 15px;
    transition: all .5s ease-in-out;
}

.footer__link:hover{
    transition: all .5s ease-in-out;
    color: grey;
}

#footer{
background-color: #557a95;
    padding: 10px;
}
   
#footer__text{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
}

#footer__text-2{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 9px;
}

#footer__link{
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
    font-family: 'Poppins';
    transition: all .5s ease-in-out;
}

#footer__link:hover{
    text-decoration: black;
    color: black;
}

=======
*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media(max-width:720px){
    *{
        scroll-behavior: smooth;
    }
}

a{
    text-decoration: none;
}

/* Jump button */
.back-to-top{
    display: none;
   position: fixed;
   right: 15px;
   bottom: 15px;
   z-index: 9999;
}



.back-to-top i{
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    width: 40px;
    height: 40px;
    display: flex;
     border-radius: 4px;
    background-color: rgb(221, 19, 19);
    transition: all 0.4s;
}

.back-to-top i:hover{
    background-color: rgb(221, 61, 61);
    color: white;
}

a:hover{
    text-decoration: none;
}



/* Mobile Navigation */

.navbar-toggler{
    border: transparent;
}

.fa-bars{
    color: #fff;
}

.fa-times{
    font-size: 20px;
    color: #ffffff;
    background: transparent;
}

.modal-header{
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
    border: transparent;
}

.btn-close{
    color: #ffffff;
}

.modal-body{
     background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
    border: transparent;
}

.modal-link{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Poppins';
}

/* Navigation */
.navbar{
background: transparent;
background: transparent;  
background: transparent; 
padding: 1.3rem;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 3rem; 
    font-weight: bold;
    font-family: 'Merriweather Sans';
    color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width:960px){
    .navbar-brand{
        font-size: 1.5rem;
    }
}

.navbar-brand:hover {
    color: #ffff;
}

.nav-item{
    margin-right: 30px;
    justify-content: space-between;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 15px;
    position: relative;
    left: 40px;
    font-family: 'Poppins';
    font-size: 16px;
    transition: all .5s ease-in-out;
}



.navbar-nav .nav-link:hover {
    color:rgb(29, 29, 230);
     transition: all .5s ease-in-out;
}


/* Hero image */


.hero-image{
    margin-top: -100px;
    background-image:linear-gradient(rgba(76, 71, 76, 0.76),rgba(76, 71, 76, 0.76)),url('img/madalyn-cox-GFPebipy-kU-unsplash\(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
}


.hero__content{
    font-family: 'roboto';
    font-size: 80px;
    font-weight: 700;
    position: relative;
    top: 320px;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center
}

@media(max-width: 575.98px){
    .hero__content{
        font-size: 40px !important;
    }
}

@media (max-width:720px) and (min-width:720px){
    .hero__content{
        font-size: 40px;
        position: relative;
        top: 800px;
    }
}


@media (max-width: 768px) { 
    .hero__content{
        font-size: 80px;
    }
 }

.hero__content-2{
    font-family: 'roboto';
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
    top: 310px;
    display: flex;
    justify-content: center;
    text-align: center
}

@media only screen and (max-width:578px){
    .hero__content-2{
        font-size: 14px;
    }
}

@media (max-width:720px) and (min-width:720px){
    .hero__content-2{
        position: relative;
        top: 800px;
        font-size: 30px;
    }
}

@media (min-width: 767.98px) { 
    .hero__content-2{
        font-size: 25px;
    }
 }

 @media (min-width: 1024px) { 
    .hero__content-2{
        font-size: 16px;
    }
 }



.content__btn{
    width: 10%;
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 600px;
    transition: all .3s ease-in-out;
    border: midnightblue;
}

@media only screen and (max-width:578px){
    .content__btn{
        margin-left: 135px;
        width: 30%;
    }
}

@media only screen and (max-width:320px){
    .content__btn{
        margin-left: 110px;
    }
}

@media (max-width:720px) and (min-width:720px){
    .content__btn{
        width: 20%;
        margin-top: 520px;
        margin-left: 270px;
    }
}

@media(min-width:767.98px){
    .content__btn{
        width: 20%;
        margin-left: 310px;
    }
}

@media(min-width:1024px){
    .content__btn{
        width: 10%;
        margin-left: 600px;
    }
}

@media(min-width:1024px) and (max-width:1024px){
    .content__btn{
        width: 10%;
        margin-left: 470px;
    }
}

@media(min-width:1440px){
    .content__btn{
        width: 10%;
        margin-left: 640px;
    }
}

.content__btn:hover{
    transition: all .3s ease-in-out;
    background-color: midnightblue;
    border: midnightblue;
}


/* About section */
.about__container{
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
    height: 25vh;
}

@media only screen and (max-width:578px){
    .about__container{
        height: 50vh;
    }
}

.about__text{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: 'Poppins';
}



@media only screen and(max-width:578px){
    .about__text{
        white-space: nowrap;
    }
}

.about__line{
    margin-top: 30px;
    margin-left: 160px;
    margin-top: 12px;
    width: 30%;
    border-top: 3px solid rgb(255, 255, 255);
}

.about__text-2{
    color: rgb(255, 255, 255);
    margin-top: 25px;
    font-family: 'Poppins';
    font-weight: 400;
}

/* our services */

.ourservices__text{
    color: #141E30;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    top: 50px;
    margin-bottom: 55px;
    font-size: 25px;
    font-family: 'Poppins';
}

.ourservices__line{
    border-top: 2px solid red;
}

.services__picture{
    filter: grayscale(10);
    width: 50% !important;
    transition: all .9s ease-in-out !important;
    margin-top: -12px;
    margin-bottom: 12px;
}

@media(max-width:320px){
    .services__picture{
        margin-left: 70px !important;
    }
}

@media(max-width:578px){
    .services__picture{
        margin-left: 90px;
    }
}

.services__picture:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform:scale(0.8) !important;
}

.service-text{
    color: #141E30;
    margin-left: -250px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 550;
    margin-top: 20px;
}


@media(max-width:578px){
    .service-text{
        text-align: center;
        font-size: 17px;
        margin-left: 15px;
        margin-top: 12px;
    }
}

@media(max-width:320px){
    .service-text{
        margin-left: 10px;
    }
}

@media(max-width:768px) and (min-width:768px){
    .service-text{
        font-size: 15px;
        white-space: pre-line;
        position: relative;
        left: 90px;
    }
}

.service-text-2{
    color: #302b63;
    margin-left: -250px;
    font-family: 'Poppins';
    margin-top: 15px;
}

@media(max-width:578px){
    .service-text-2{
        font-size: 15px;
        margin-left: 18px;
    }
}

@media(max-width:768px) and (min-width:768px){
    .service-text-2{
        font-size: 15px;
        white-space: pre-line;
        position: relative;
        left: 90px;
    }
}

.text__line{
    border-top: 2px solid red;
}

/* Portfolio Container */
.portfolio__container{
     background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30);
}

.filter-button
{
    border: midnightblue;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 3px;
    text-align: center;
    margin-right: 12px;
    color: #ffffff;
    margin-bottom: 30px;
    transition: all .5s ease-in-out;
}
.filter-button:hover
{
    background-color: midnightblue;
    border: midnightblue;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
}

.portfolio__text{
     color: rgb(253, 253, 253);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 50px;
    margin-bottom: 80px;
    font-size: 25px;
    font-family: 'Poppins';
}

.img-responsive{
    margin-bottom: 30px;
}

@media (max-width:578px){
    .img-responsive{
        margin-bottom: 20px;
    }
}


#portfolio__link{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'poppins';
    margin-left: 70px;
    margin-top: -50px;
    margin-bottom: 12px;
    transition: all .5s ease-in-out;
}

#portfolio__link:hover{
   color: rgb(187, 5, 5);
}

/* Contact us */
.contact__text{
    margin-top: 30px;
    font-family: 'Poppins';
    color: #141E30;
    font-size: 23px;
    margin-bottom: 40px;
}

.contact__text-2{
    position: relative;
    top: -30px;
    margin-top: 30px;
    font-family: 'Poppins';
    color: #302b63;
    font-size: 16px;
    margin-bottom: 10px;
}

.contactus__container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* business hour */
.business__hour{
    margin-top: -100px;
    font-size: 23px;
    margin-left: 50px;
    font-family: 'poppins';
}

@media(max-width:720px)
{
    .business__hour{
        margin-top: 50px;
    }
}
.business__container{
    background-color: #141E30;
    padding: 12px;
}

@media(max-width:720px)
{
    .business__container{
        margin-bottom: 50px;
    }
}

.business__text{
    color: white;
    font-family: 'poppins';
}


/* meet the team */
.team__heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'poppins';
    color: #0F2027;
}


/* Footer */
.footer__container{
    background: #141E30;  
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
    padding: 20px;
}

.address__heading{
    color: white;
    font-size: 23px;
}

.address, .phone, .email{
    font-size: 15px;
    color: white;
    font-family: 'Poppins';
    margin-top: 19px;
}

.footer__container-2{
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

}

.fa-facebook-square, .fa-whatsapp, .fa-twitter, .fa-instagram{
    margin-top: 15px;
    color: white;
    font-size: 25px;
    margin-right: 15px;
}

@media(max-width:578px){
    .fa-facebook-square, .fa-whatsapp, .fa-twitter, .fa-instagram{
        margin-bottom: 25px;
    }
}

.footer__link{
     font-size: 15px;
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    margin-top: 15px;
    transition: all .5s ease-in-out;
}

.footer__link:hover{
    transition: all .5s ease-in-out;
    color: grey;
}

#footer{
background-color: #141E30;
    padding: 10px;
}
   
#footer__text{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
}

#footer__text-2{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 9px;
}

#footer__link{
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
    font-family: 'Poppins';
    transition: all .5s ease-in-out;
}

#footer__link:hover{
    text-decoration: black;
    color: black;
}

>>>>>>> 5c440ba91a774ffa6fca7b8e0717639ddcab5e42
